body {
  margin: 0;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  direction: rtl;
  text-align: center;
  background: linear-gradient(135deg, #ffe6f0, #fff8fb, #f5fbff);
}

/* PAGE 1 */
.box {
  background: white;
  width: 320px;
  margin: 120px auto;
  padding: 40px 30px;
  border-radius: 30px;
  box-shadow: 0 15px 30px rgba(0,0,0,0.2);
}

.box h1 {
  color: #d63384;
}

input {
  width: 90%;
  padding: 12px;
  border-radius: 18px;
  border: 1px solid #ccc;
}

button {
  margin-top: 15px;
  padding: 12px 30px;
  border-radius: 20px;
  border: none;
  background: #ff69b4;
  color: white;
  font-size: 16px;
}

/* PAGE 2 */
.birthday-box {
  background: white;
  max-width: 700px;
  margin: 40px auto;
  padding: 30px;
  border-radius: 35px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.25);
}

.birthday-box h1 {
  color: #c2185b;
  font-size: 32px;
}

.birthday-image {
  width: 100%;
  max-width: 500px;
  margin: 20px auto;
  display: block;
  border-radius: 30px;
  box-shadow: 0 15px 30px rgba(0,0,0,0.25);
}

.message {
  font-size: 22px;
  color: #d63384;
  margin-top: 20px;
}



